:root {
	--background-color: #ccc;
	--text-color: #000;
}

html {
	background-color: var(--background-color);
	color: var(--text-color);
}

body {
	text-align: center;
	overscroll-behavior: none;
}

.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.inner {
	display: table-cell;
	vertical-align: middle;
}
