:root {
	--background-color: #ddd;
	--text-color: #000;
	--text-size: 18px;
}

html {
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: var(--text-size);
	font-family: 'Andale Mono', Courier, 'Courier New', monospace;
}

body {
	text-align: center;
	overscroll-behavior: none;
}

.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.inner {
	display: table-cell;
	vertical-align: middle;
}

#tabs {
	display: flex;
	flex-flow: row wrap;
	margin-top: 0px;
}

.tab {
	font-size: calc(var(--text-size) * 2);
	z-index: 1;
}

button {
	font-size: inherit;
	font-family: inherit;
	margin: 20px auto 0px auto;
	background-color: #eee;
	border: 1px solid #888;
	border-radius: 5px;
	transition-duration: 1s;
	cursor: pointer;
}

button:hover {
	background-color: #ccc;
	border: 1px solid #444;
}

button.upgrade.fade, button.improvement.fade, .tab.on {
	background-color: #999;
	border: 1px solid #222;
	cursor: default;
}

button.upgrade.maxed, button.improvement.maxed {
	background-color: #0e0;
	border: 1px solid #080;
	cursor: default;
}
